*{
    margin: 0;
}
header{
    background-color:rgb(187, 172, 172);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    
    
}
#navtaglist{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
}
#section1{
    background-color: rgb(249, 224, 243);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
#section2{
    background-color:rgb(201, 190, 190);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}
#section3{
    background-color: rgb(249, 224, 243);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
footer{
    background-color:rgb(179, 170, 170);
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    gap: 25px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: ;
    align-items: center;
}